/* @import url('https://fonts-googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital@1&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Mantiene tamaño del elemento */
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

/* Variables */
:root{ 
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header{
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
  padding: 2rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
}

.header.bg{
  background: var(--bg-color);
}

.logo{
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  position: relative;
}
.navbar{
  position: relative;
}

.navbar a{
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active{
  color: var(--main-color);
}

#menu-icon{
  position: relative;
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home{
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url(/images/M.jpg);
  background-size: cover;
  background-position: center;
}

.home-content{
  max-width: 60rem;
  z-index: 99;
}

.home-content h1{
  position: relative;
  display: inline-block;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h1 span{
  color: var(--text-color);
}

.home-content .text-animate{
  position: relative;
  width: 35rem;
}

.home-content .text-animate h3{
  font-size: 2.9rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .7px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -35rem 0;
}

.home.show-animate .home-content .text-animate h3{
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.home-content .text-animate h3::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--main-color);
  z-index: -1;
}

.home.show-animate .home-content .text-animate h3::before{
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}

.home-content p{
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.btn-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box .btn:hover{
  color: var(--main-color);
}

.btn-box .btn:nth-child(2){
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover{
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before{
  background: var(--main-color);
}

.btn-box .btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .btn:hover::before{
  width: 100%;
}

.home-links{
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-links a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-links a:hover{
  color: var(--bg-color);
}

.home-links a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;
}

.home-links a:hover::before{
  width: 100%;
}

.home-imgHover{
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;
  transition: 3s;
}

.home-imgHover:hover{
  background: var(--bg-color);
  opacity: .8;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem; /* Espacio entre columnas */
  background: var(--second-bg-color);
  padding: 6rem;
}

.heading{
  position: relative;
  font-size: 5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.heading span{
  color: var(--main-color);
}

.about-img{
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img{
  width: 90%;
  border-radius: 50%;
  border: .2rem solid var(--main-color);
}

.about-img .circle-spin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid var(--second-bg-color);
  border-bottom: .2rem solid var(--second-bg-color);
  border-left: .2rem solid var(--main-color);
  border-right: .2rem solid var(--main-color);
  animation: aboutSpinner 8s linear infinite;
}

.about-content{
  text-align: center;
}

.about .heading{
  margin-bottom: 0;
  margin-top: 2.4rem;
}

.about-content h3{
  position: relative;
  display: inline-block;
  font-size: 2.6rem;
}

.about-content p{
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn-box.btns{
  display: inline-block;
  width: 15rem;
}

.btn-box .btns a::before{
  background: var(--second-bg-color);
}

.skills{
  padding: 8rem 9%;
}

.skills-content{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.skills-box{
  width: 45%;
  padding: 2rem 4rem;
  border: .2rem solid var(--main-color);
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
}

.skills-box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: .5s;
}

.skills-box:hover::before{
  width: 100%;
}

.skills-box h3{
  font-size: 3rem;
  text-align: center;
}

.box-row{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.skill{
  display: flex;
  width: 140px;
}

.skill i{
  font-size: 50px;
}

.skill p{
  margin-left: 1rem;
  margin-top: .4rem;
  font-size: 14px;
}

.skill p span{
  font-weight: 800;
}

.proyects{
  width: 100%;
  padding: 8rem 9%;
}

.proyects-row{
  margin-top: 2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* !!!!!!!!!!!!!!!!!!!!!!! */
}

.proyects img{
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
  margin-top: 1rem;
}

.proyect-box{
  position: relative;
  padding: 1rem;
  width: 30rem;
  height: 38rem;
  display: flex;
/*   justify-content: center; */
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border: .2rem solid var(--main-color);
  border-radius: 1rem;
  background-color:rgba(188, 188, 188, 0.1);
}

.proyect-box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: .5s;
}

.proyect-box:hover::before{
  width: 100%;
}

.proyect-name{
  margin: 1rem auto;
  font-size: 2.2rem;
}

.proyect-box p{
  text-align: center;
  font-size: 1.2rem;
  height: 8.2rem;
}

.proyect-box .btn-box.btns{
  bottom: 0rem;
}

.modal{
  z-index: 100;
  margin: auto;
  width: 500px;
  height: 450px;
}

.modal::backdrop{
  background-color: rgb(0, 0, 0, .5);
}

.bar{
  height: 35px;
  background: var(--second-bg-color);
}

.close{
  position: absolute;
  right: 15px;
  top: 10px;
  width: 20px;
  cursor: pointer;
}

.contact{
  min-height: auto;
  padding-bottom: 7rem;
}

.contact h2{
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.contact form{
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* !!!!!!!!!!!!!!!!!!!!!!! */
}

.contact form .input-box .input-field{
  position: relative;
  width: 49%;
  margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
}

/* .contact form .btn-box{
  width: 100%;
} */

.contact form .btn-box .btn{
  margin: 0 auto;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
  color: var(--text-color);
}

/* Form Input Animation */
.contact form .focus{
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: .6rem;
  z-index: -1;
  transition: .5s;
}

/* Form Input Animation */
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
  width: 100%;
}

.contact form .textarea-field{
  position: relative;
  margin: .8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea{
  resize: none; /* Restringe modificar el tamaño del elemento al usuario */
}

.contact form .btn-box .btn{
  cursor: pointer;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text, .footer-iconTop{
  position: relative;
}

.footer-text{
  font-size: 1.6rem;
}

.footer-iconTop a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  z-index: 1;
  overflow: hidden;
}

.footer-iconTop a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: .5s;
}

.footer-iconTop a:hover::before{
  width: 100%;
}

.footer-iconTop a i{
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: .5s;
}

.footer-iconTop a:hover i{
  color: var(--main-color);
}

/* ANIMATION RELOAD AND SCROLL */
.animate{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 98;
}

.about .animate.scroll, .footer .animate.scroll{
  background: var(--second-bg-color);
}

.animate.home-img{
  width: 50%;
}

.logo .animate, 
.navbar .animate, 
#menu-icon .animate,
.home.show-animate .animate{
  animation: showRight 1s ease forwards;
  animation-delay: calc(.3s * var(--i));
}

.animate.scroll{
  transition: 1s ease;
  transition-delay: calc(.3s / var(--i));
  animation: none;
}

.about.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.proyects.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll{
  transition-delay: calc(.3s * var(--i));
  width: 0;
}

/* BREAKPOINTS */
@media (max-width: 1200px){
  html{
    font-size: 55%;
  }
}

@media (max-width: 991px){
  .header{
    padding: 2rem 4%;
  }

  section{
    padding: 10rem 4% 2rem;
  }

  .home{
    padding: 0 4%;
  }

  .footer{
    padding: 2rem 4%;
  }
}

@media (max-width: 850px){
  .animate.home-img{
    width: 55%;
  }
}

@media (max-width: 768px){
  .header{
    background: var(--bg-color);
  }

  #menu-icon{
    display: block;
  }

  .navbar{
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .2);
    z-index: 1;
    transition: .25s ease;
    transition-delay: .25s;
  }

  .navbar.active{
    left: 0;
    transition-delay: 0s;
  }

  .navbar .active-nav{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-top: .1rem solid rgb(0, 0, 0, .2);
    z-index: -1;
    transition: .25s ease;
    transition-delay: 0s;
  }

  .navbar.active .active-nav{
    left: 0;
    transition-delay: .25s;
  }

  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition: .25s ease;
    transition-delay: 0s;
  }

  .navbar.active a{
    transform: translateX(0);
    transition-delay: .25s;
  }

  .home-imgHover{
    pointer-events: none;
    background: var(--bg-color);
    opacity: .6;
  }

/*   .home-content .text-animate{
    width: 32.8rem;
  } */

  .skills-content{
    display: block;
  }

  .skills-box{
    width: 100%;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
  }

  .proyects-row{
    display: flex;
    justify-content: center;
  }

  .proyect-box{
    margin: 1rem 0;
    width: 35rem;
  }
}

@media (max-width: 520px){
  html{
    font-size: 50%;
  }

  .home-content{
    display: flex;
    flex-direction: column;
  }

  .home-links{
    width: 160px;
  }

  .home-links a{
    width: 38px;
    height: 38px;

  }
}

@media (max-width: 462px){
  .home-content h1{
    font-size: 5.2rem;
  }

  .contact form .input-box .input-field{
    width: 100%;
  }

  .footer{
    flex-direction: column-reverse;
  }
  
  .footer p{
    margin-top: 2rem;
    text-align: center;
  }
}

@media (max-width: 371px){
  .home{
    justify-content: center;
  }

  .home-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .home-content{
    font-size: 5rem;
  }
}

/* KEYFRAMES ANIMATION */
@keyframes homeBgText{
  0%, 10%, 100%{
    background-position: -35rem 0;
  }

  65%, 85%{
    background-position: 0 0;
  }
}

@keyframes homeCursorText{
  0%, 10%, 100%{
    width:  0;
  }

  65%, 85%{
    width: 100%;
    opacity: 1;
  }

  75%, 81%{
    opacity: 0;
  }
}

@keyframes aboutSpinner{
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes showRight{
  100%{
    width: 0;
  }
}